<head>
    <title>messages</title>
    <link rel="stylesheet" href="styles/messages.css"/>
</head>

<body>
  {{> messages}}
  <script src="scripts/messages.js"></script>
</body>


<template name="messages">
    <div class="bar-search">
        <input type="text" class="field " name="find" value="Search">
        <button id="btn1" class="button glyphicon glyphicon-search"></button>
    </div>
    <div id="content" class="container">
        <div class="row list-noti">
        </div>
    </div>
</template>
