@fondo: white ;
@azul:#002857;
@letra:#666;
@segundo-fondo: #F3F3F3;

body{
  background: @segundo-fondo;
}

.field{
  background-color: @segundo-fondo;
  color:@letra ;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 92px;
  width:1100px;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: @azul;
  color: @fondo;
  border: 2px solid @azul;

}

.button:hover {
  color:@azul;
  background-color: @fondo;
}

#content{
  background-color: white;
  .bar-search{
    display: inline-block;
  }
  .noti{
    background-color: @fondo;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 5px;
    height: 80px;
    margin-bottom: 15px;
    margin-top: 10px;

    .mensaje{

      margin-top: 10px;
      color: @letra;
      float: left;
      width: 100%;
      height: 50%;
      text-align: center;
      span {
        font-weight: 100;
      }
    }

    .imgnot {
      width: 27%;
      float: left;


      img {
        width: 52px;
        height: 52px;
        border-radius: 50px;
        margin-left: 10px;
      }
    }

  }
}
