body {
  background: #F3F3F3;
}
.field {
  background-color: #F3F3F3;
  color: #666;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 92px;
  width: 1100px;
}
.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #002857;
  color: white;
  border: 2px solid #002857;
}
.button:hover {
  color: #002857;
  background-color: white;
}
#content {
  background-color: white;
}
#content .bar-search {
  display: inline-block;
}
#content .noti {
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 5px;
  height: 80px;
  margin-bottom: 15px;
  margin-top: 10px;
}
#content .noti .mensaje {
  margin-top: 10px;
  color: #666;
  float: left;
  width: 100%;
  height: 50%;
  text-align: center;
}
#content .noti .mensaje span {
  font-weight: 100;
}
#content .noti .imgnot {
  width: 27%;
  float: left;
}
#content .noti .imgnot img {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  margin-left: 10px;
}
